[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "diagmeta"]
	path = diagmeta
	url = https://github.com/guido-s/diagmeta
	shallow = true
	registered = true
[submodule "meta"]
	path = meta
	url = https://github.com/guido-s/meta
	shallow = true
	registered = true
[submodule "metasens"]
	path = metasens
	url = https://github.com/guido-s/metasens
	shallow = true
	registered = true
[submodule "netmeta"]
	path = netmeta
	url = https://github.com/guido-s/netmeta
	shallow = true
	registered = true
